#charity {
    padding-top: 4rem;
    padding-bottom: 4rem;
     
    .col-md-12 {
        p {
            margin-bottom: 2rem;
        }
    }

    .col-md-6 {
        img {
            width: 100%;
        }

        h5 {
            font-weight: $font-bold;
            color: $yellow-400;
        }
    }

    .col-md-6 {

        h5 {
            font-weight: $font-bold;
            color: $yellow-400;
            margin-top: 2rem;
        }

        p {
            color: #121212;
        }
    }
}