// File: _theme.scss

* {
    box-sizing: border-box;
}

body {
    background-color: $white;
}

@media screen and (max-width: 766px) {
    body {
      // background-color: olive;
      text-align: center;
    }

    img {
        margin: auto;
    }
}