// File: _variables.scss

/** Fonts ¨*/
$primary-font: 'sans-serif';
$secondary-font: 'sans-serif';


/** Colors */

// Grey - blueGrey
$blueGrey-50: #F8FAFC;
$blueGrey-100: #F1F5F9;
$blueGrey-200: #E2E8F0;
$blueGrey-300: #CBD5E1;
$blueGrey-400: #94A3B8;
$blueGrey-500: #64748B;
$blueGrey-600: #475569;
$blueGrey-700: #334155;
$blueGrey-800: #1E293B;
$blueGrey-900: #0F172A;

// Grey - coolGrey
$coolGrey-50: #F9FAFB;
$coolGrey-100: #F3F4F6;
$coolGrey-200: #E5E7EB;
$coolGrey-300: #9CA3AF;
$coolGrey-500: #6B7280;
$coolGrey-600: #4B5563;
$coolGrey-700: #374151;
$coolGrey-800: #1F2937;
$coolGey-900: #111827;

// Grey - grey
$grey-50: #FAFAFA;
$grey-100: #F4F4F5;
$grey-200: #E4E4E7;
$grey-300: #D4D4D8;
$grey-400: #A1A1AA;
$grey-500: #71717A;
$grey-600: #52525B;
$grey-700: #3F3F46;
$grey-800: #27272A;
$grey-900: #18181B;

// Grey - warmGrey
$warmGrey-50: #FAFAF9;
$warmGrey-100: #F5F5F4;
$warmGrey-200: #E7E5E4;
$warmGrey-300: #D6D3D1;
$warmGrey-400: #A8A29E;
$warmGrey-500: #78716C;
$warmGrey-600: #57534E;
$warmGrey-700: #44403C;
$warmGrey-800: #292524;
$warmGrey-900: #1C1917;

// Red - red
$red-50: #FEF2F2;
$red-100: #FEE2E2;
$red-200: #FECACA;
$red-300: #FCA5A5;
$red-400: #F87171;
$red-500: #EF4444;
$red-600: #DC2626;
$red-700: #B91C1C;
$red-800: #991B1B;
$red-900: #7F1D1D;

// Orange  orange
$orange-50: #;
$orange-100: #;
$orange-200: #;
$orange-300: #;
$orange-400: #;
$orange-500: #;
$orange-600: #;
$orange-700: #;
$orange-800: #;
$orange-900: #;

// Yellow - amber
$amber-50: #FFFBEB;
$amber-100: #FEF3C7;
$amber-200: #FDE68A;
$amber-300: #FCD34D;
$amber-400: #FBBF24;
$amber-500: #F59E0B;
$amber-600: #D97706;
$amber-700: #B45309;
$amber-800: #92400E;
$amber-900: #78350F;

// Yellow - yellow
$yellow-50: #;
$yellow-100: #;
$yellow-200: #;
$yellow-300: #;
$yellow-400: #;
$yellow-500: #;
$yellow-600: #;
$yellow-700: #;
$yellow-800: #;
$yellow-900: #;

// Lime - lime
$lime-50: #;
$lime-100: #;
$lime-200: #;
$lime-300: #;
$lime-400: #;
$lime-500: #;
$lime-600: #;
$lime-700: #;
$lime-800: #;
$lime-900: #;

// Green - green 
$green-50: #;
$green-100: #;
$green-200: #;
$green-300: #;
$green-400: #;
$green-500: #;
$green-600: #;
$green-700: #;
$green-800: #;
$green-900: #;

// Green - emerald
$green-50: #ECFDF5;
$green-100: #D1FAE5;
$green-200: #A7F3D0;
$green-300: #6EE7B7;
$green-400: #34D399;
$green-500: #10B981;
$green-600: #059669;
$green-700: #065F46;
$green-800: #065F46;
$green-900: #064E3B;

// Teal - teal
$teal-50: #;
$teal-100: #;
$teal-200: #;
$teal-300: #;
$teal-400: #;
$teal-500: #;
$teal-600: #;
$teal-700: #;
$teal-800: #;
$teal-900: #;

// Cyan - cyan
$cyan-50: #;
$cyan-100: #;
$cyan-200: #;
$cyan-300: #;
$cyan-400: #;
$cyan-500: #;
$cyan-600: #;
$cyan-700: #;
$cyan-800: #;
$cyan-900: #;

// Light Blue - lightBlue
$lightBlue-50: #;
$lightBlue-100: #;
$lightBlue-200: #;
$lightBlue-300: #;
$lightBlue-400: #;
$lightBlue-500: #;
$lightBlue-600: #;
$lightBlue-700: #;
$lightBlue-800: #;
$lightBlue-900: #;

// Blue - blue
$blue-50: #EFF6FF;
$blue-100: #DBEAFE;
$blue-200: #BFDBFE;
$blue-300: #93C5FD;
$blue-400: #60A5FA;
$blue-500: #3B82F6;
$blue-600: #2563EB;
$blue-700: #1D4ED8;
$blue-800: #1E40AF;
$blue-900: #1E3A8A;

// Indigo - indigo
$indigo-50: #EEF2FF;
$indigo-100: #E0E7FF;
$indigo-200: #C7D2FE;
$indigo-300: #A5B4FC;
$indigo-400: #818CF8;
$indigo-500: #6366F1;
$indigo-600: #4F46E5;
$indigo-700: #4338CA;
$indigo-800: #3730A3;
$indigo-900: #312E81;

// Violet - violet 
$violet-50: #;
$violet-100: #;
$violet-200: #;
$violet-300: #;
$violet-400: #;
$violet-500: #;
$violet-600: #;
$violet-700: #;
$violet-800: #;
$violet-900: #;

// Purple - violet
$purple-50: #F5F3FF;
$purple-100: #EDE9FE;
$purple-200: #DDD6FE;
$purple-300: #C4B5FD;
$purple-400: #A78BFA;
$purple-500: #8B5CF6;
$purple-600: #7C3AED;
$purple-700: #6D28D9;
$purple-800: #5B21B6;
$purple-900: #4C1D95;

// Pink - pink
$pink-50 : #FDF2F8; 
$pink-100: #FCE7F3;
$pink-200: #FBCFE8;
$pink-300: #F9A8D4;
$pink-400: #F472B6;
$pink-500: #EC4899;
$pink-600: #DB2777;
$pink-700: #BE185D;
$pink-800: #9D174D;
$pink-900: #831843;

// White - white
$white: #FFFFFF;
