/** Fonts */
/** Colors */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: 700;
}

h3 {
  color: #60A5FA;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8rem;
}

.primary-button {
  width: 100%;
  padding: 1rem 1.65rem;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#60a5fa), to(#3b82f6));
  background: linear-gradient(90deg, #60a5fa 0%, #3b82f6 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  font-weight: 600;
}

.primary-button p {
  color: #FFFFFF;
}

.secondary-button {
  padding: 1rem 2rem;
  border: 2px solid #60A5FA;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #60A5FA;
  display: block;
  width: 24%;
  text-align: center;
  margin-top: 2rem;
}

nav {
  background-color: #FFFFFF;
}

nav .container #nav-top {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(55, 65, 81, 0.1);
}

nav .container #nav-top #nav-top-left a {
  color: #3B82F6;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

nav .container #nav-top #nav-top-left a .fa-phone {
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
}

nav .container #nav-top #nav-top-right {
  text-align: right;
}

nav .container #nav-top #nav-top-right a {
  font-size: 14px;
  color: #6B7280;
  margin-left: 1rem;
}

nav .container #nav-bottom {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

nav .container #nav-bottom #nav-bottom-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container #nav-bottom #nav-bottom-logo img {
  width: 90%;
}

nav .container #nav-bottom #nav-bottom-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav .container #nav-bottom #nav-bottom-navigation ul li {
  padding: .65rem .8rem;
}

nav .container #nav-bottom #nav-bottom-navigation ul li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #4B5563;
}

nav .container #nav-bottom #nav-bottom-navigation ul .active {
  border-bottom: 1px solid #8B5CF6;
}

nav .container #nav-bottom #nav-bottom-navigation ul .active a {
  color: #8B5CF6;
}

nav .container #nav-bottom #nav-bottom-language {
  text-align: right;
}

nav .container #nav-bottom #nav-bottom-language p {
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
}

nav .container #nav-bottom #nav-bottom-language p .fa-chevron-down {
  color: #3B82F6;
  margin-left: .2rem;
}

header {
  width: 100%;
  height: 83vh;
  background-image: url("https://scontent.fbru1-1.fna.fbcdn.net/v/t1.0-9/117838580_2017841148350764_1099587257771712799_o.jpg?_nc_cat=106&ccb=2&_nc_sid=cdbe9c&_nc_ohc=bcmLnhViuNMAX-lDC4P&_nc_ht=scontent.fbru1-1.fna&oh=1b06fabe1bb42e0fee24281c7c4b736a&oe=60371AB7");
  background-size: cover;
  position: relative;
  margin-bottom: 8rem;
}

header .container h1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -65%);
          transform: translate(0%, -65%);
  font-weight: 800;
  line-height: 5rem;
}

header #header-nav {
  width: 60%;
  position: absolute;
  background-color: #FFFFFF;
  bottom: 0;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
  -webkit-box-shadow: 4px 0px 12px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 4px 0px 12px 0px rgba(0, 0, 0, 0.06);
}

header #header-nav .container .row {
  padding: 2.5rem 2rem 2rem 4.5rem;
}

header #header-nav .container .row .col-md-4 a {
  text-decoration: none;
}

header #header-nav .container .row .col-md-4 a .header-nav-item h2 {
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 20px;
  color: #374151;
}

header #header-nav .container .row .col-md-4 a .header-nav-item p {
  color: #94A3B8;
  font-size: 14px;
}

#welcome {
  padding-top: 4rem;
  padding-bottom: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#welcome .col-md-6 p {
  color: #475569;
  font-weight: 300;
}

#welcome .col-md-6 .container .row .col-md-6 a {
  text-decoration: none;
  color: #FFFFFF;
}

#welcome .col-md-6 .container .row .col-md-6 a .primary-button .primary-button-text {
  color: #FFFFFF;
}

#who-we-are-background {
  background-color: #F1F5F9;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#who-we-are-background .container #who-we-are {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#who-we-are-background .container #who-we-are .col-md-6 p {
  font-weight: 300;
  margin-bottom: 1.5rem;
}

#who-we-are-background .container #who-we-are .col-md-6 img {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */