.secondary-button {
    padding: 1rem 2rem;
    border: 2px solid $blue-400;
    text-decoration: none;
    font-family: $secondary-font;
    color: $blue-400;
    display: block;
    width: 24%;
    text-align: center;
    margin-top: 2rem;
}