.secondary-button {
    padding: .8rem 1rem;
    border: 2px solid $yellow-400;
    text-decoration: none;
    font-family: $secondary-font;
    color: $yellow-400;
    display: block;
    width: 24%;
    margin-top: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .fa-long-arrow-right {
        margin-top: 4px;
    }
}

.secondary-button:hover {
    background-color: $yellow-400;
    color: $blueGrey-700;
}

@media screen and (max-width: 766px) {
    .secondary-button {
        width: 35%;
        margin: 2rem auto;
    }
}