footer {
    background-color: $white;
    border-top: 1px solid rgba($color: #374151, $alpha: .15);
    // background-color: $blue-100;
    padding: 4rem 0 1rem 0 ;

    .container {
        #footer-top {
            .col-md-3 {
                // background-color: $green-500;
                padding-top: 2rem;
                padding-bottom: 4rem;
            }

            .col-md-3:nth-child(1) {
                font-weight: $font-light;
                font-size: 14px;
                img {
                    width: 65%;
                    margin-bottom: 1rem;
                }
            }

            .col-md-3:nth-child(2) {
                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
    
                        a {
                            color: #575757;
                            font-family: $primary-font;
                            font-size: 14px;
                            text-decoration: none;
                        }
                    }
                }
            }

            .col-md-3:nth-child(3) {
                img {
                    width: 16%;
                    margin: .5rem 1rem 2rem 0;
                }

                #keg {
                    width: 35%;
                    margin-top: .5rem;
                    margin-bottom: 5rem;
                }
                
                #skryv {
                    width: 32%;
                }
            }
        }

        #footer-bottom {
            border-top: 1px solid #E5E7EB;

            #footer-bottom-left {
                padding-top: 1rem;

                p {
                    font-size: 12px;
                    font-weight: $font-light;
                    font-family: $secondary-font;
                }
            }

            #footer-bottom-right {
                padding-top: 1rem;

                p {
                    font-size: 12px;
                    text-align: right;
                    font-weight: $font-light;
                    font-family: $secondary-font;
                }
            }
        }
    }
}