footer {
    background-color: $coolGrey-50;
    padding-top: 4rem; 

    .container{
        #footer-top {
            padding-bottom: 4rem;
            .col-md-3 {
                font-weight: $font-light;
                font-size: 14px;
                color: $coolGrey-600;
                
                .footer-logo {
                    width: 72%;
                }
            }

            #footer-nav {
                ul {
                    li {
                        margin: .8rem 0;
                        a {
                            color: $coolGrey-600;
                            font-family: $secondary-font;
                            font-size: 14px;
                            text-decoration: none;
                        }
                    }
                }
            }

            #partners {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                img {
                    width: 36%;
                    margin: 1.2rem 0;
                }
            }
        }

        #footer-bottom {
            border-top: 1px solid $coolGrey-200;
            font-size: 12px;
            padding-top: 1rem;
            color: $coolGrey-300;
            padding-bottom: 1rem;
    
            #footer-bottom-left {
                font-weight: 300;
            }
    
            #footer-bottom-right{
                text-align: right;
                font-weight: 300;
            }
        }
    }
}