// File: _header.scss

header {
    width: 100%;
    height: 83vh;
    // background-color: $green-200;
    background-image: url('https://scontent.fbru1-1.fna.fbcdn.net/v/t1.0-9/117838580_2017841148350764_1099587257771712799_o.jpg?_nc_cat=106&ccb=2&_nc_sid=cdbe9c&_nc_ohc=bcmLnhViuNMAX-lDC4P&_nc_ht=scontent.fbru1-1.fna&oh=1b06fabe1bb42e0fee24281c7c4b736a&oe=60371AB7');
    background-size: cover;
    position: relative;
    margin-bottom: 8rem;

    .container {
        h1 {
            position: absolute;
            top: 50%;
            transform: translate(0%, -65%);
            font-weight: $font-extraBold;
            line-height: 5rem;
        }
    }

    #header-nav{
        width: 60%;
        position: absolute;
        background-color: $white;
        bottom: 0;
        transform: translate(0%, 50%);
        -webkit-box-shadow: 4px 0px 12px 0px rgba(0,0,0,0.06); 
        box-shadow: 4px 0px 12px 0px rgba(0,0,0,0.06);

        .container {
            .row {
                padding: 2.5rem 2rem 2rem 4.5rem;

                .col-md-4 {
                    a {
                        text-decoration: none;

                        .header-nav-item {
                            h2 {
                                font-weight: $font-bold;
                                margin-bottom: 1rem;
                                font-size: 20px;
                                color: $coolGrey-700;
                            }

                            p {
                                color: $blueGrey-400;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}