#who-we-are-background {
    background-color: $coolGrey-50;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .container {
        #who-we-are {
            display: flex;
            align-items: center;

            .col-md-6 {
                p {
                    font-weight: $font-light;
                    margin-bottom: 1.5rem;
                }

                a {

                }
            }
            .col-md-6 {
               img {
                   width: 100%;
               } 
            }
        }
    }
}